# General
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/
.venv/
.env
*.log

# Node / Web
node_modules/
.npm/
.cache/
.next/
out/
yarn.lock
pnpm-lock.yaml
package-lock.json

# Data
/data/raw/
/data/generated/
/data/*.json
